body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('back.jpg'); /* Путь к вашему фоновому изображению */
    background-size: cover; /* Заполнение фона */
    background-position: center; /* Центрирование изображения */
    background-repeat: no-repeat; /* Без повторения изображения */
}

.container {
    text-align: center;
}

.nickname {
    margin-bottom: 20px;
    font-size: 2.5em; /* Размер шрифта */
}

.profile-pic {
    margin-bottom: 20px; /* Отступ между фото и кнопками */
}

.profile-pic img {
    width: 300px; /* Ширина изображения */
    height: 300px; /* Высота изображения */
    border-radius: 50%; /* Круглая форма */
    object-fit: cover; /* Обрезка изображения */
}

.buttons {
    margin-top: 20px; /* Дополнительный отступ сверху для кнопок */
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* Цвет кнопок */
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Цвет кнопок при наведении */
}
